.one {}

.two {}

.color {
  color: red;
}
.comment-title {
  display: flex;
  align-items: center;
  margin:0 30rpx 40rpx;
}
.head-title {
  display: flex;
  align-items: center;
  margin: 0 30rpx;
  justify-content: space-between;

  .head-title2 {
    display: flex;
    align-items: center;
  }

  .nickname {
    margin-left: 20rpx;
    color: #C4C4C4;
  }

  .title-Avatar {
    display: flex;
    align-items: center;
  }
}

.thumbsList {
  margin: 0 30rpx;
  padding-bottom: 30rpx;
}

.thumbsAll {
  display: flex;

  .thumbsLeft {
    margin-right: 10rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C4C4C4;
    .thumbsLength{
      width: 40px;
    }
  }

  .thumbsRight {
    display: flex;
    overflow-x: scroll;

    .thumbsAvatar {
      margin: 0 6rpx;
    }
  }



}

.commentContent {
  display: flex;

  .commentLeft {
    display: flex;
    width: 100%;
  }
}

.addBtn {
  color: #4EEE94 ;
  border: 1px solid #4EEE94;
}

.nickNameOnly {
  color: #4EEE94;
}


.commentItem {
  // margin-bottom:8rpx;
  border: 1px solid blue;
}

.aaa {
  border: 1px solid red
}
.addNewComment{
  display:'flex';
  .commentInput{
    // width:30%
  }
}
.thumb{
  font-size:36rpx;
}

.two_thumb{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  box-sizing: border-box;
}
